[submodule "test/lpeglabel"]
	path = test/lpeglabel
	url = https://github.com/sqmedeiros/lpeglabel.git
[submodule "test/lua"]
	path = test/lua
	url = https://github.com/lua/lua
[submodule "3rd/bee.lua"]
	path = 3rd/bee.lua
	url = https://github.com/actboy168/bee.lua
